---
import { Image } from 'astro:assets'

interface Props {
  id: string
  title: string
  description: string
  imageKey: string
  tag: string
  category: string
}

const { id, title, description, imageKey, tag, category } = Astro.props

const imageAvif = imageKey.replace('webp', 'avif')
const cdnURL = import.meta.env.PUBLIC_CDN_URL

const className = `course__card mix ${category} max-w-sm flex flex-col bg-white border border-gray-200 rounded-lg shadow-sm`

const whatsappMessage = `Hola, estoy interesado en obtener más información sobre el curso "${title}" que aparece en su página web. ¿Podrían brindarme detalles sobre inscripción, duración y requisitos? Gracias.`
const whatsappLink = `https://wa.me/51940256869?text=${encodeURIComponent(whatsappMessage)}`
---

<div class={className} id={id}>
  <picture class='rounded-t-lg'>
    <source srcset={`${cdnURL}${imageAvif}`} type='image/avif' />
    <source srcset={`${cdnURL}${imageKey}`} type='image/webp' />
    <Image
      class='aspect-square rounded-t-lg object-cover sm:aspect-8/10'
      loading='lazy'
      src={`${cdnURL}${imageKey}`}
      alt={title}
      width='800'
      height='1000'
    />
  </picture>
  <div class='flex flex-1 flex-col gap-4 p-5 text-center'>
    <div class='flex flex-col gap-2'>
      <div class='flex items-center justify-center gap-2'>
        <span
          class='items-center rounded-md bg-[#005FAE] px-2 py-1 text-xs font-medium text-white ring-1 ring-[#005FAE]/20 ring-inset'
        >
          UPAO
        </span>
        {
          /*
        <span class="items-center rounded-md bg-[#E30512] px-2 py-1 text-xs font-medium text-white ring-1 ring-inset ring-[#E30512]/20">
          UCV
        </span>
        <span class="items-center rounded-md bg-[#fdba30] px-2 py-1 text-xs font-medium text-black ring-1 ring-inset ring-[#fdba30]/20">
          UPN
        </span> */
        }
        <span
          class='items-center rounded-md bg-teal-50 px-2 py-1 text-xs font-medium text-teal-800 ring-1 ring-teal-600/20 ring-inset'
        >
          {tag}
        </span>
      </div>
      <h3 class='text-xl font-bold tracking-tight text-gray-900'>
        {title}
      </h3>
    </div>
    <div class='flex-1'>
      <p class='line-clamp-3 text-sm font-normal text-pretty text-gray-700 sm:line-clamp-4'>
        {description}
      </p>
    </div>
    <div class='flex items-end justify-center'>
      <a
        href={whatsappLink}
        target='_blank'
        rel='noreferrer noopener'
        class='inline-flex items-center rounded-lg bg-teal-700 px-3 py-2 text-center text-sm font-medium text-white transition-all hover:bg-teal-800 focus:ring-4 focus:ring-teal-300 focus:outline-hidden'
      >
        Inscríbete
        <svg
          class='ms-2 h-3.5 w-3.5 rtl:rotate-180'
          aria-hidden='true'
          xmlns='http://www.w3.org/2000/svg'
          fill='none'
          viewBox='0 0 14 10'
        >
          <path
            stroke='currentColor'
            stroke-linecap='round'
            stroke-linejoin='round'
            stroke-width='2'
            d='M1 5h12m0 0L9 1m4 4L9 9'></path>
        </svg>
      </a>
    </div>
  </div>
</div>
