---
import { Image } from 'astro:assets'

const { teamMember } = Astro.props

const { id, name, title, avatarKey } = teamMember

const fallbackImage = '/img/logo_sm.webp'
const avatarAvif = avatarKey ? avatarKey.replace('webp', 'avif') : null
const cdnURL = import.meta.env.PUBLIC_CDN_URL
---

<div
  id={id}
  class='flex w-full flex-col items-center gap-3 rounded-lg border border-gray-200 bg-white px-4 pt-4 pb-4 shadow-sm transition-all duration-300 hover:shadow-lg'
>
  <picture class='aspect-square h-auto w-auto max-w-44 rounded-full'>
    <source srcset={avatarAvif ? `${cdnURL}${avatarAvif}` : fallbackImage} type='image/avif' />
    <source srcset={avatarKey ? `${cdnURL}${avatarKey}` : fallbackImage} type='image/webp' />
    <Image
      class='aspect-square rounded-full shadow-lg transition-all hover:shadow-xl'
      loading='lazy'
      src={avatarKey ? `${cdnURL}${avatarKey}` : fallbackImage}
      alt={name}
      width='200'
      height='200'
    />
  </picture>
  <div class='flex flex-col items-center gap-0.5'>
    <h5 class='line-clamp-1 text-center font-medium text-gray-900 sm:text-lg'>{name}</h5>
    <span class='line-clamp-1 text-sm text-gray-500'>{title}</span>
  </div>
</div>
