---
import { Image } from 'astro:assets'

const { teamMember } = Astro.props

const { id, name, title, avatarKey } = teamMember

const fallbackImage = '/img/logo_sm.webp'
const avatarAvif = avatarKey ? avatarKey.replace('webp', 'avif') : null
const cdnURL = import.meta.env.PUBLIC_CDN_URL
---

<div
  id={id}
  class='w-full max-w-xs rounded-lg border border-gray-200 bg-white shadow-sm transition-all hover:shadow-lg'
>
  <div class='flex flex-col items-center gap-3 px-4 pt-4 pb-4'>
    <picture class='h-48 w-48 rounded-full sm:h-44 sm:w-44 lg:h-48 lg:w-48'>
      <source srcset={avatarAvif ? `${cdnURL}${avatarAvif}` : fallbackImage} type='image/avif' />
      <source srcset={avatarKey ? `${cdnURL}${avatarKey}` : fallbackImage} type='image/webp' />
      <Image
        class='h-48 w-48 rounded-full shadow-lg transition-all hover:shadow-xl sm:h-44 sm:w-44 lg:h-48 lg:w-48'
        loading='lazy'
        src={avatarKey ? `${cdnURL}${avatarKey}` : fallbackImage}
        alt={name}
        width='200'
        height='200'
      />
    </picture>
    <div class='flex flex-col items-center gap-0.5'>
      <h5 class='line-clamp-1 text-center text-lg font-medium text-gray-900'>{name}</h5>
      <span class='line-clamp-1 text-sm text-gray-500'>{title}</span>
    </div>
  </div>
</div>
