---
import { Picture } from 'astro:assets'

interface Props {
  id: number
  name: string
  title: string
  avatarKey: string
}

const { name, title, avatarKey } = Astro.props

const cdnURL = import.meta.env.PUBLIC_CDN_URL
---

<div
  class='flex w-full flex-col items-center gap-3 rounded-lg border border-gray-200 bg-white px-4 pt-4 pb-4 shadow-sm transition-all duration-300 hover:shadow-lg'
>
  <Picture
    class='aspect-3/4 h-auto w-auto max-w-44 mask-[linear-gradient(to_bottom,black_75%,transparent_100%)] object-cover'
    src={`${cdnURL}${avatarKey}`}
    formats={['avif', 'webp']}
    loading='lazy'
    alt={name}
    width='600'
    height='800'
  />
  <div class='flex flex-col items-center gap-0.5'>
    <h5 class='line-clamp-1 text-center font-medium text-gray-900 sm:text-lg'>{name}</h5>
    <span class='line-clamp-1 text-sm text-gray-500'>{title}</span>
  </div>
</div>
